## manual entries
._*
.DS_Store
.zhistory
*.swp
homedir/.ssh/*.sock
homedir/.ssh/known_hosts
homedir/.ssh/known_hosts.old

## autogenerate entries
homedir/.ssh/config
homedir/.ssh/id_ed25519_acheron_be
homedir/.ssh/id_ed25519_acheron_be.pub
homedir/.ssh/id_rsa_blackdot_be
homedir/.ssh/id_rsa_blackdot_be.pub
