#
# CONFIGURATION
#
HashKnownHosts no
UpdateHostKeys yes
#VisualHostKey yes

#
# BASTION
#
Match host "!bastion.example.org,*.example.org"
    ProxyJump bastion.example.org

#
# AGENTS
#
Match exec "~/.ssh/ssh-init check %h example.org"
    IdentityAgent ~/.ssh/agent_example.org.sock
    IdentityFile none
    ForwardAgent yes

Match exec "~/.ssh/ssh-init check %h example.net"
    IdentityAgent ~/.ssh/agent_example.net.sock
    IdentityFile none
    ForwardAgent yes

#
# OVERWRITES
#
# NOTE: use example.org key with github
#       by checking out via github.example.org instead of github.com
Match host github.example.org
    Hostname github.com
    User git
